

.page-container{
    overflow: hidden;
}
.bgrnd-blk{
    background-color: rgb(10, 0, 0);
    height: 23vh;
    width: 100%;
    border-radius: 0 0 50% 50%;
}
.check-out-heading{
    color: white;
    font-weight: bolder;
    padding-top: 4rem;
}
.your-cart{
    margin: 0 3rem;
}


.pdng-tp{
    padding-top: 3rem;
}
.pdng-bt{
    padding-bottom: 3rem;
}
/* .dsp-property{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
} */

.cart-show-img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0 1rem 0 0;
    object-fit: cover;
}
.text-set{
    font-weight: bolder;
    padding-top: .7rem;
}
.cost-span{
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.brdr-radius{
    border-radius: 1rem;
}
.txt-red{
    color: rgb(175, 25, 25);
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 50%;
}
.txt-red:hover{
    background-color: rgba(248, 76, 76, 0.2);
}
/* ----Total---- */
.total-set{
    margin: 2rem 2rem;
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(80, 80, 80,0.2);
    border-radius: 2rem;
}
.total-set h6{
    font-size: 1.5rem;
    font-weight: bolder;
}








@media screen and (max-width: 500px) {

    .check-out-heading{
        
        padding-top: 6rem;
    }
}