.FoodRestaurant{
    overflow-x: hidden;
}
.contaainer{
    width: 100%;
    height: 50vh;
    padding-top: 4rem;
    border-radius: 0 0 50% 50%;
    margin: 0;
}

.rest-card{
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,55,59,1) 35%, rgba(2,0,36,1) 100%); */
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin: 0;
    padding: 2rem 4rem;
    width: 100%;
}
.main-card{
    border-radius: 2rem;
}

.wheatbg{
    background: white;
    width: 100%;
    
}
.custom-outline-white {
    border-color: wheat;
  }

  .adjst-hgt{
    height: 18rem;
  }

  .rest-card button:hover{
    color: white !important;
  }







@media screen and (max-width: 500px) {
 
    .contaainer{
        padding-top: 6rem;
        height: 35vh;
    }
    .rest-card{
        /* background: rgb(20, 15, 15); */
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        padding: 1rem 1rem;
    }
    .adjst-hgt{
        height: 14rem;
      }
    
    }