.containerr {
    padding: 4rem 4rem;
    background-color: rgb(34, 32, 32);
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}


.card-body {
    background: transparent;
}

.card {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 500px) {
    .containerr {
        padding: 0;
        margin-top: 2px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        margin: 2rem;
    }
}