
.containerr{
    padding:4rem 8rem;
    background-color: rgb(34, 32, 32);
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.card-body{
    background: transparent;
}

.card{
   margin: 2rem;
   display: flex;
   align-items: center;
}


@media screen and (max-width: 500px) {
    .containerr{
        padding:2rem 2rem;
        margin-top: 2px;
    }
    }