.containerr {
    padding: 4rem 4rem;
    background-color: rgb(34, 32, 32);
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}
.containerr img{
    height: 16rem;
    border-radius: 1rem 1rem 0 0;
}


.card-body {
    background: transparent;
}

.card {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:1rem 1rem 4rem 4rem;
}




@media screen and (max-width: 500px) {
    /* .containerr {
        padding: 0;
        margin-top: 2px;
        grid-template-columns: repeat(1, 1fr);
    } */

    .containerr {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center; 
        padding: 0;
        margin-top: 2px;
      }
      .containerr img{
        height: 14rem;
    }

    /* .card {
        margin: 2rem;
    } */
    .adjst-wd{
        width: 18rem;
    }

}