.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
  }

 .Home img{
  height: 75vh;
    width: 100%;
    z-index: -1;
 } 

.Home h1{
    font-size: 8rem; 
    font-weight: 900;
    color: whitesmoke;
    z-index: 2;
    position: absolute;
    left: 30%;
    top: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Home h3{
  color:rgb(245, 225, 225);
  font-size: 2rem;
  padding-top: 10%;
  position: absolute;
  right: 5%;
  
}

/* Offers */

.carousel-item img{
  height: 35vh;

}
.offers{
  padding-top: 5px;
  margin-top: 10px;
}
.image-container {
    position: relative;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the last value (0.5) to control the opacity */
  }
img {
    display: block;
  }





  /* Media-Query */
  @media screen and (max-width: 500px) {
    .Home{
      height: 65vh;
      margin-bottom: 2px;
    }
    .Home img{
      height: 65vh;
     } 
    .Home h1 {
      font-size: 4rem;
      left: 10%;
      top: 36%;
    }
    .Home h3 {
      font-size: 1.5rem;
      padding-top: 13%;
      right: 18%;
    }
    .carousel-item{
      padding: 10px 0;
    }
    .carousel-item img{
      height: 30vh;

    }



  }