* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  background: rgba(0,0,0,0.3);
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-bar ul {
  display:  flex;
}

.nav-bar ul li {
  padding: 10px 15px;
  list-style: none;
  font-weight: 900;
}

.nav-bar ul li a{
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.cart-positioning{
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.cart-item-positioning{
  position: relative;
  top: -3.5rem;
  right: -1.3rem;
  color: rgb(245, 245, 245);
  font-size: 1.5rem;
  height: 2.2rem;
  width: 2.2rem;
  /* background-color: rgb(255, 0, 43,0.6); */
  background-color: rgb(255, 0, 0,0.9);
  text-align: center;
  border-radius: 50%;
  padding: 0;
}

.Log-In{
  height: 2.5rem;
  width: 2.5rem;
  background: rgb(243, 232, 232, 0.5);
  border-radius: 50%;
  padding-left: 0.65rem;
}

.Log-In-positioning{
  position:absolute;
  right: 6rem;
  /* top: 0.2rem; */
}
.Log-In-positioning-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2rem;
}
.Auth-user-name{
  color:blue;
  font-size: 0.8rem;
  font-weight: 800;
  text-align: center;
}


/* Media-Querry */
@media screen and (max-width: 500px) {


  .nav-bar ul {
    padding:  0 1rem;
  }
  .nav-bar ul li {
    padding: 15px 0 15px 10px;
    font-weight: 700;
  }

  .nav-bar ul li a{
    font-size: 18px;
  }
  .cart-item-positioning{
    position: relative;
    top: -3rem;
    right: -1rem;
    color: rgb(245, 245, 245);
    font-size: 1.3rem;
    height: 1.8rem;
    width: 1.8rem;
  }
  
  .Log-In-positioning{
    position:absolute;
    right: 5rem;
    /* top: 0.3rem; */
  }

  .Log-In{
    height: 2.5rem;
    width: 2.5rem;
    background: rgb(243, 232, 232, 0.5);
    border-radius: 50%;
    padding-left: 0.57rem;
    padding-top: 0.5rem;
  }
  .user-icon{
    font-size: 1.5rem;
  }
  }